parameters:
	ignoreErrors:
		-
			message: '#^Method Ssntpl\\Neev\\Commands\\Domain\\AddDomainCommand\:\:promptForMissingArgumentsUsing\(\) should return array\<string, array\{string, string\}\|bool\|\(Closure\(\)\: array\<int\|string\>\)\|int\|string\> but returns array\{domain\: Closure\(\)\: string\}\.$#'
			identifier: return.type
			count: 1
			path: src/Commands/Domain/AddDomainCommand.php

		-
			message: '#^Method Ssntpl\\Neev\\Commands\\Member\\AddMemberCommand\:\:promptForMissingArgumentsUsing\(\) should return array\<string, array\{string, string\}\|bool\|\(Closure\(\)\: array\<int\|string\>\)\|int\|string\> but returns array\{email\: Closure\(\)\: string\}\.$#'
			identifier: return.type
			count: 1
			path: src/Commands/Member/AddMemberCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Commands/Member/ListMembersCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Commands/Member/ListMembersCommand.php

		-
			message: '#^Method Ssntpl\\Neev\\Commands\\Member\\RemoveMemberCommand\:\:promptForMissingArgumentsUsing\(\) should return array\<string, array\{string, string\}\|bool\|\(Closure\(\)\: array\<int\|string\>\)\|int\|string\> but returns array\{email\: Closure\(\)\: string\}\.$#'
			identifier: return.type
			count: 1
			path: src/Commands/Member/RemoveMemberCommand.php

		-
			message: '#^Method Ssntpl\\Neev\\Commands\\Team\\ActivateTeamCommand\:\:promptForMissingArgumentsUsing\(\) should return array\<string, array\{string, string\}\|bool\|\(Closure\(\)\: array\<int\|string\>\)\|int\|string\> but returns array\{team\: Closure\(\)\: string\}\.$#'
			identifier: return.type
			count: 1
			path: src/Commands/Team/ActivateTeamCommand.php

		-
			message: '#^Method Ssntpl\\Neev\\Commands\\Tenant\\CreateTenantCommand\:\:promptForMissingArgumentsUsing\(\) should return array\<string, array\{string, string\}\|bool\|\(Closure\(\)\: array\<int\|string\>\)\|int\|string\> but returns array\{name\: Closure\(\)\: string\}\.$#'
			identifier: return.type
			count: 1
			path: src/Commands/Tenant/CreateTenantCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/Tenant/ShowTenantCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Commands/Tenant/ShowTenantCommand.php

		-
			message: '#^Method Ssntpl\\Neev\\Commands\\Tenant\\ShowTenantCommand\:\:promptForMissingArgumentsUsing\(\) should return array\<string, array\{string, string\}\|bool\|\(Closure\(\)\: array\<int\|string\>\)\|int\|string\> but returns array\{identifier\: Closure\(\)\: string\}\.$#'
			identifier: return.type
			count: 1
			path: src/Commands/Tenant/ShowTenantCommand.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Auth/OAuthController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Auth/OAuthController.php

		-
			message: '#^Offset ''counter'' on string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Http/Controllers/Auth/PasskeyController.php

		-
			message: '#^Parameter \#1 \$authenticatorAttestationResponse of method Webauthn\\AuthenticatorAttestationResponseValidator\:\:check\(\) expects Webauthn\\AuthenticatorAttestationResponse, Webauthn\\AuthenticatorResponse given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Auth/PasskeyController.php

		-
			message: '#^Parameter \$authenticatorAssertionResponse of method Webauthn\\AuthenticatorAssertionResponseValidator\:\:check\(\) expects Webauthn\\AuthenticatorAssertionResponse, Webauthn\\AuthenticatorResponse given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Auth/PasskeyController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Auth/TenantSSOController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, Ssntpl\\Neev\\Models\\AccessToken\>\|Ssntpl\\Neev\\Models\\AccessToken\:\:\$attempt\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Auth/UserAuthApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, Ssntpl\\Neev\\Models\\AccessToken\>\|Ssntpl\\Neev\\Models\\AccessToken\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Auth/UserAuthApiController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 9
			path: src/Http/Controllers/Auth/UserAuthController.php

		-
			message: '#^Using nullsafe property access "\?\-\>user" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Auth/UserAuthController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Database\\Eloquent\\Collection\<int, Ssntpl\\Neev\\Models\\TeamInvitation\>\|Ssntpl\\Neev\\Models\\TeamInvitation\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/Auth/UserAuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$domain\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$membership\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 3
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$users\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Ssntpl\\Neev\\Models\\Domain\:\:\$outside_members\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Property Ssntpl\\Neev\\Models\\DomainRule\:\:\$value \(string\|null\) does not accept bool\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Relation ''team'' is not found in Ssntpl\\Neev\\Models\\TeamInvitation model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Database\\Eloquent\\Model\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Ssntpl\\Neev\\Models\\Domain\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$domain\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$membership\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 3
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$users\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Ssntpl\\Neev\\Models\\Team\:\:\$verified_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 5
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Property Ssntpl\\Neev\\Models\\DomainRule\:\:\$value \(string\|null\) does not accept bool\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Database\\Eloquent\\Model\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Ssntpl\\Neev\\Models\\Domain\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:markAsPrimary\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/TenantDomainController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 8
			path: src/Http/Controllers/UserController.php

		-
			message: '#^Relation ''attempt'' is not found in Ssntpl\\Neev\\Models\\AccessToken model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Middleware/NeevAPIMiddleware.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$active\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:loginAttempts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:multiFactorAuths\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Parameter \#1 \$user of method Ssntpl\\Neev\\Services\\ContextManager\:\:setUser\(\) expects Ssntpl\\Neev\\Models\\User\|null, Illuminate\\Foundation\\Auth\\User given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Using nullsafe property access "\?\-\>method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Team\:\:model\(\) should return static\(Ssntpl\\Neev\\Models\\Team\) but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Team.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Team\:\:resolveBySlug\(\) should return static\(Ssntpl\\Neev\\Models\\Team\)\|null but returns Ssntpl\\Neev\\Models\\Team\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Team.php

		-
			message: '#^Using nullsafe property access "\?\-\>auth_method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Team.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Team.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision_role" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Team.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Tenant\:\:model\(\) should return static\(Ssntpl\\Neev\\Models\\Tenant\) but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Tenant\:\:resolveBySlug\(\) should return static\(Ssntpl\\Neev\\Models\\Tenant\)\|null but returns Ssntpl\\Neev\\Models\\Tenant\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Using nullsafe property access "\?\-\>auth_method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision_role" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\User\:\:findByUsername\(\) should return static\(Ssntpl\\Neev\\Models\\User\)\|null but returns Ssntpl\\Neev\\Models\\User\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/User.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\User\:\:model\(\) should return static\(Ssntpl\\Neev\\Models\\User\) but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Models/User.php

		-
			message: '#^Using nullsafe property access "\?\-\>method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/User.php

		-
			message: '#^Using nullsafe property access "\?\-\>secret" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/User.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Rules/PasswordHistory.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Rules/PasswordUserData.php

		-
			message: '#^Call to an undefined method TModel of Illuminate\\Database\\Eloquent\\Model\:\:getQualifiedTeamIdColumn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Scopes/TeamScope.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:authenticate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Services/AuthService.php

		-
			message: '#^Call to an undefined static method Ssntpl\\Neev\\Contracts\\ResolvableContextInterface\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Services/TenantResolver.php

		-
			message: '#^Class SocialiteProviders\\Azure\\Provider not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Services/TenantSSOManager.php

		-
			message: '#^Class SocialiteProviders\\Okta\\Provider not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Services/TenantSSOManager.php

		-
			message: '#^Trait Ssntpl\\Neev\\Traits\\BelongsToTeam is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/BelongsToTeam.php
