parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Commands/Member/ListMembersCommand.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$email\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/Auth/OAuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Auth/OAuthController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Auth/OAuthController.php

		-
			message: '#^Offset ''counter'' on string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Http/Controllers/Auth/PasskeyController.php

		-
			message: '#^Parameter \#1 \$authenticatorAttestationResponse of method Webauthn\\AuthenticatorAttestationResponseValidator\:\:check\(\) expects Webauthn\\AuthenticatorAttestationResponse, Webauthn\\AuthenticatorResponse given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Auth/PasskeyController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Auth/TenantSSOController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<.+, Ssntpl\\Neev\\Models\\AccessToken\>\|Ssntpl\\Neev\\Models\\AccessToken\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/Auth/UserAuthApiController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 9
			path: src/Http/Controllers/Auth/UserAuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$domain\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$membership\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 3
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$users\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Ssntpl\\Neev\\Models\\Domain\:\:\$outside_members\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Property Ssntpl\\Neev\\Models\\DomainRule\:\:\$value \(string\|null\) does not accept bool\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Relation ''rules'' is not found in Ssntpl\\Neev\\Models\\Domain model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Relation ''team'' is not found in Ssntpl\\Neev\\Models\\TeamInvitation model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Database\\Eloquent\\Model\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Ssntpl\\Neev\\Models\\Domain\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: src/Http/Controllers/TeamApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$domain\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$membership\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 3
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$users\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 5
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Property Ssntpl\\Neev\\Models\\DomainRule\:\:\$value \(string\|null\) does not accept bool\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Database\\Eloquent\\Model\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Ssntpl\\Neev\\Models\\Domain\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/TeamController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:markAsPrimary\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/TenantDomainController.php

		-
			message: '#^Relation ''teams'' is not found in Illuminate\\Foundation\\Auth\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/UserApiController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 7
			path: src/Http/Controllers/UserController.php

		-
			message: '#^Relation ''multiFactorAuths'' is not found in Ssntpl\\Neev\\Models\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/UserController.php

		-
			message: '#^Relation ''passkeys'' is not found in Ssntpl\\Neev\\Models\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/UserController.php

		-
			message: '#^Relation ''attempt'' is not found in Ssntpl\\Neev\\Models\\AccessToken model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Middleware/NeevAPIMiddleware.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$active\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:activeMultiFactorAuths\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:loginAttempts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Parameter \#1 \$user of method Ssntpl\\Neev\\Services\\ContextManager\:\:setUser\(\) expects Ssntpl\\Neev\\Models\\User\|null, Illuminate\\Foundation\\Auth\\User given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Relation ''activeMultiFactorAuths'' is not found in Illuminate\\Foundation\\Auth\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Relation ''preferredMultiFactorAuth'' is not found in Illuminate\\Foundation\\Auth\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Using nullsafe property access "\?\-\>method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Middleware/NeevMiddleware.php

		-
			message: '#^Parameter \$view of class Illuminate\\Mail\\Mailables\\Content constructor expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Mail/EmailOTP.php

		-
			message: '#^Parameter \$view of class Illuminate\\Mail\\Mailables\\Content constructor expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Mail/LoginUsingLink.php

		-
			message: '#^Parameter \$view of class Illuminate\\Mail\\Mailables\\Content constructor expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Mail/TeamInvitation.php

		-
			message: '#^Parameter \$view of class Illuminate\\Mail\\Mailables\\Content constructor expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Mail/TeamJoinRequest.php

		-
			message: '#^Parameter \$view of class Illuminate\\Mail\\Mailables\\Content constructor expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Mail/VerifyUserEmail.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Team\:\:model\(\) should return static\(Ssntpl\\Neev\\Models\\Team\) but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Team.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Team\:\:resolveBySlug\(\) should return static\(Ssntpl\\Neev\\Models\\Team\)\|null but returns Ssntpl\\Neev\\Models\\Team\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Team.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Tenant\:\:model\(\) should return static\(Ssntpl\\Neev\\Models\\Tenant\) but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\Tenant\:\:resolveBySlug\(\) should return static\(Ssntpl\\Neev\\Models\\Tenant\)\|null but returns Ssntpl\\Neev\\Models\\Tenant\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Using nullsafe property access "\?\-\>auth_method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision_role" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Tenant.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\User\:\:findByEmail\(\) should return static\(Ssntpl\\Neev\\Models\\User\)\|null but returns Ssntpl\\Neev\\Models\\User\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/User.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\User\:\:findByUsername\(\) should return static\(Ssntpl\\Neev\\Models\\User\)\|null but returns Ssntpl\\Neev\\Models\\User\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/User.php

		-
			message: '#^Method Ssntpl\\Neev\\Models\\User\:\:model\(\) should return static\(Ssntpl\\Neev\\Models\\User\) but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Models/User.php

		-
			message: '#^Relation ''multiFactorAuths'' is not found in Ssntpl\\Neev\\Models\\User model\.$#'
			identifier: larastan.relationExistence
			count: 4
			path: src/Models/User.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Rules/PasswordHistory.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Rules/PasswordUserData.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:authenticate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Services/AuthService.php

		-
			message: '#^Call to an undefined static method Ssntpl\\Neev\\Contracts\\ResolvableContextInterface\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Services/TenantResolver.php

		-
			message: '#^Class SocialiteProviders\\Azure\\Provider not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Services/TenantSSOManager.php

		-
			message: '#^Class SocialiteProviders\\Okta\\Provider not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Services/TenantSSOManager.php

		-
			message: '#^Trait Ssntpl\\Neev\\Traits\\BelongsToTeam is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/BelongsToTeam.php

		-
			message: '#^Using nullsafe property access "\?\-\>method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Traits/HasMultiAuth.php

		-
			message: '#^Using nullsafe property access "\?\-\>secret" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Traits/HasMultiAuth.php

		-
			message: '#^Using nullsafe property access "\?\-\>auth_method" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Traits/HasTenantAuth.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Traits/HasTenantAuth.php

		-
			message: '#^Using nullsafe property access "\?\-\>auto_provision_role" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Traits/HasTenantAuth.php
