includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#^Using nullsafe property access on non\-nullable type mixed\. Use \-\> instead\.$#'
            identifier: nullsafe.neverNull
            path: src/Http/Controllers/Auth/UserAuthController.php
    paths:
        - src/
